@page
@model MoralityMatrix.Pages.QuizModel
@{
    ViewData["Title"] = "Quiz";
}

<section class="section-full-vh d-flex justify-content-center">
    <div class="container d-flex pt-4 justify-content-center">
        <div class="col-md-8 justify-content-center">
            <form method="post" id="quizForm">
                <h2 class="display-6">@Model.CurrentQuestion.QuestionText</h2>
                <hr />
                <h3 class="lead text-muted">Alege varianta corectă</h3>
                <h5 class="mb-3">Punctaj: @Model.Score</h5>
                <div class="d-flex flex-column btn-group-lg" role="group">
                    @for (int i = 0; i < Model.CurrentQuestion.Options.Count; i++)
                    {
                        <button type="button" class="mb-3 w-100 btn btn-phthalo-green" onclick="selectOption(@i)">
                            @Model.CurrentQuestion.Options[i]
                        </button>
                    }
                </div>
                <h5>Întrebarea @Model.CurrentQuestionDisplayIndex din @Model.TotalQuestions</h5>
                <input type="hidden" name="selectedOption" id="selectedOption" />
            </form>
        </div>
    </div>
</section>
@section scripts {
    <script>
        function selectOption(optionIndex) {
            document.getElementById('selectedOption').value = optionIndex;
            document.getElementById('quizForm').submit();
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#quiz").addClass("active");
        });
    </script>
}
